* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  background: #fff;
  position: relative;
  font-family: roboto, sans-serif;
}

.navbar {
  width: 100%;
  height: 65px;
  position: relative;
  top: 0;
  left: 0px;
  padding: 0 4%;
  background: #333545;
  z-index: 9;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 42px;
  margin-left: 73px;
  padding-right: 10px;
}

.input {
  height: 36px;
  width: 40%;
  position: relative;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  display: flex;
}

.input input {
  width: 93%;
  height: 30px;
  border-color: transparent;
  outline-color: transparent;
  font-size: 13.9px;
  color: #b1aead;
  opacity: 90%;
  font-weight: 520;
}

.input ion-icon {
  font-size: 16px;
  padding-left: 12px;
  color: #858585;
  font-weight: bold;
  width: 16px;
}

.right-container {
  display: flex;
  margin-left: auto;
}

.carousel-container {
  max-width: 100%;
  position: relative;
  height: 300px;
  padding: 0px 0px;
  overflow-x: hidden;
  margin-top: 10px;
}

.carousel {
  display: flex;
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.title {
  color: #000;
  opacity: 0.9;
  padding-left: 147px;
  padding-top: 40px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
}

.seemore {
  color: #c4242b;
}

.movies-list {
  width: 94%;
  height: 500px;
  position: relative;
  padding-top: 0;
  padding-left: 105px;
}

.movie {
  position: relative;
  cursor: pointer;
}

.card-container {
  position: relative;
  width: 95%;
  padding-left: 10px;
  height: 480px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
  justify-content: start;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 225px;
  width: 225px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
}

.card-img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  background: #000;
  padding: 10px;
  display: flex;
}

.card-body p {
  color: #fff;
  position: absolute;
  font-size: 16px;
  padding-left: 30px;
  top: 7px;
}

.card-body ion-icon {
  color: #c4242b;
  font-size: 20px;
}

.movie h3 {
  padding-top: 10px;
  font-size: 18px;
}

.detail {
  font-size: 15px;
  color: #b1aead;
}

.strip {
  padding-left: 145px;
  height: 10px;
  padding-top: 50px;
  margin-bottom: 200px;
}

#bottomBanner {
  height: 105px;
  width: 91%;
}

/***** Wrapper *****/

.wrapper {
  display: block;
}

/***** Content *****/

.content {
  width: 100%;
  transition: all 0.3s;
}

.format {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  font-family: "Lato", "sans-serif";
}

.movie-container {
  margin: 0 auto;
  margin: 0px 0px 20px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.movie-container select {
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0px 15px 0px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #333545;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #94540c;
}

.seat.occupied {
  background-color: #bc4e5d;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
  color: black;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #333545;
  height: 70px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 16px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
  color: black;
  font-weight: 500;
}

p.text span {
  color: red;
}

.invisible {
  visibility: hidden;
  display: none;
}

.visible {
  visibility: visible;
}

label {
  color: black;
  font-weight: 500;
}

.bookButton {
  background-color: #333545; /* Green */
  border: none;
  color: white;
  font-weight: 500;
  padding: 6px 32px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 32px;
}
